
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Syntax : - newlist = [expression for item in iterable if condition == True]

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']


Condition

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

to find square of numbers

In [3]:
numbers = [1,2,3,4,5]
square_number = [num*num for num in numbers]
print(square_number)

[1, 4, 9, 16, 25]

Vowels find out

In [4]:
word = "Hello"
vowels = "aeiou"
result = [char for char in word if char in vowels]
print(result)

['e', 'o']